{% extends 'Base.html' %}

{% block tittle %}Seja bem vindo!!{% endblock %}



{% block main%}

<div class="row">
    <div class="col"></div>
    <div class="col"></div>
</div>
<div class="row">
    <div class="col"></div>
        <div class="col">
                <h1>Bem vindo!!!!</h1>
                {% if user.is_authenticated %}
                     <p>Ola {{user.username}}</p>
                     <a href="{% url 'logoutHome' %}">Logout</a>
                {% else %}
                     <p>Usuário não validado</p>
                     <a href="{% url 'login' %}">Login</a>
                {% endif %}
        </div>
    <div class="col"></div>
  </div>


{% endblock %}