{% extends 'Base.html' %}

{% block tittle %}Administração{% endblock %}

href="{% url 'person_update' pessoa.id %}"
{% block main%}

 <div class="row">
    <div class="col"></div>
    <div class="col-6">
        <ul class="list-group">
        {% for pessoa in Persona %}
            <li class="list-group-item">
                <a >{{pessoa.first_name}}</a>
                    <a href="{% url 'person_delete' pessoa.id %}"><button class="btn btn-danger btn-sm"> Excluir</button></a>
                    <a href="{% url 'person_update' pessoa.id %}"><button class="btn btn-light btn-sm"> Editar</button></a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="col"></div>
 </div>

<div class="row">
    <div class="col"></div>
    <div class="col-md-4 offset-md-2">
        <br>
        <a href="{% url 'person_new'%}"><button class="btn btn-primary">Nova Pessoa</button></a>
        <a href="{% url 'logoutHome' %}"><button class="btn btn-warning">Deslogar</button></a></a>
    </div>
    <div class="col"></div>
</div>


{% endblock %}