<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crud básico</title>
</head>
<body>
    <ul>
        {% for pessoa in Persona %}
        <li>
            <a href=" http://localhost:8000/media/{{pessoa.Photo}}"> {{ pessoa.Photo }}</a>
        </li>
        {% endfor %}
    </ul>
    <ul>
        {% for pessoa in Persona %}
            <li>
                <a href="{% url 'person_update' pessoa.id %}">{{pessoa.first_name}}</a>
                <form method="POST">
                        {% csrf_token %}
                    <button><a href="{% url 'person_delete' pessoa.id %}"><label style="">Excluir?</label></a></button>

                </form>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'person_new'%}"><button>Nova Pessoa</button></a>
    <button><a href="{% url 'logoutHome' %}"><label style="">Deslogar</label></a></button>
</body>
</html>